* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background: #fff;
  width: 100vw;

}

#namebox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 4vw;

}

#ico{
width: 6vw;
height: auto;
}

nav {
    padding: 0 20 0 0;
}

ul {
  display: flex;
  flex-direction: row;
}

header li {
  padding: 10px;
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
}

#intro {
  background: #000;
  height: auto;
  padding: 50px 10px 50px 10px;
}

#services {
  background: white;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#boxs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#boxs > * {
  width: 15vw;
  padding: 10px;

}

#services>* {
  flex: 1 1 auto;
  padding: 10px;
  margin: 10px;
  width: 60vw;
  background: #111;
  color: #ccc;
  text-align: center;
  border-radius: 2vw;
  line-height: 2em;
}

#services ol {
  background: white;
  color: #111;
  padding: 5px;
  border-radius: 0 0 2vw 2vw;

}

#services li {
  list-style-type: none;
}

#help {
  background: black;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#help>* {
  padding: 10px;
  margin: 10px;
  width: 60vw;
  background: #fff;
  color: #000;
  text-align: center;
  border-radius: 2vw;
  line-height: 2em;
}

#help li {
  list-style-type: none;
}

#box1, #box2, #box3 {
margin: auto;
}

@media only screen and (max-width: 768px) {
  #boxs {
    flex-direction: column;
  }
    #boxs > * {
      width: 50vw;
      padding: 10px;


  }
  h1{
    font-size: 5vw
  }
  h2{
    font-size: 4vw
  }
  li{
    font-size: 3vw
  }

}




.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 8vw;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #000;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#neontext {
  padding: 10vw;
  width: auto;
  margin: 0 auto;
}

.tex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tex h1 {
  color: #cccccc;
  font-size: 10vw;
  text-transform: uppercase;
}
